PORT=3000
GEOCODING_PROVIDER=ban
WEATHER_PROVIDER=metnorway
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1
BAN_BASE_URL=https://api-adresse.data.gouv.fr
MET_NORWAY_BASE_URL=https://api.met.no/weatherapi/locationforecast/2.0
USER_AGENT=TP2-MeteoApi/1.0 ian.bertin2004@gmail.com
HTTP_TIMEOUT=10000
